In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv('medical_insurance.csv')
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df = df[['age','bmi','charges']]
df

      age     bmi      charges
0      19  27.900  16884.92400
1      18  33.770   1725.55230
2      28  33.000   4449.46200
3      33  22.705  21984.47061
4      32  28.880   3866.85520
...   ...     ...          ...
1333   50  30.970  10600.54830
1334   18  31.920   2205.98080
1335   18  36.850   1629.83350
1336   21  25.800   2007.94500
1337   61  29.070  29141.36030

[1338 rows x 3 columns]

In [47]:
x = df.drop('charges',axis = 1) # ind
y = df['charges'] # dep
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=40)
x_train

      age     bmi
737    26  23.700
369    18  30.400
284    52  31.200
1302   25  20.800
958    43  34.960
...   ...     ...
1330   57  25.740
1016   19  24.605
165    47  28.215
7      37  27.740
219    24  23.210

[1070 rows x 2 columns]

In [50]:
y_train

737      3484.33100
369      3481.86800
284      9625.92000
1302     3208.78700
958     41034.22140
           ...
1330    12629.16560
1016     2709.24395
165     10407.08585
7        7281.50560
219     25081.76784
Name: charges, Length: 1070, dtype: float64

### Model Training

In [51]:
model = LinearRegression() # instantiating Linear regression model.
model.fit(x_train, y_train) # Gradient Descent Algorithm

LinearRegression()

In [52]:
model.coef_ # slope values (m >> m1 and m2)

array([243.32433073, 326.22704377])

In [53]:
model.intercept_ # c value

-6279.673338427163

In [57]:
x1 = 24
x2 = 23.210
y1 = 243.32 * x1 + 326.2 * x2 + -6279.6
y1

7131.181999999999

In [61]:
model.predict(x_test)

array([10891.89214777, 10552.25087561, 15799.64754564, 17664.68543056,
        6254.28953741, 11759.04042538, 18215.3135122 , 11825.63178623,
       16423.67671212, 12138.88971177, 15247.18310917, 16686.04959183,
       19281.58554261, 16392.68514297, 17236.55241736, 11251.88262841,
       12168.94576805, 18216.57950078, 15048.13931989, 10560.85166185,
       17266.48321755,  7914.21482397, 10801.84923503, 13963.1945088 ,
       18328.06706191,  7025.73653242, 18614.86167731,  7932.64771411,
       12186.60307233, 14556.10685003, 10722.49397555, 13205.16174218,
       12630.14659577, 17755.04819735,  5135.25081375,  6281.93887261,
       19025.41734973, 14331.62584866, 15056.21503247, 20339.90711653,
       12843.2549432 , 17830.85600328, 13687.4526933 , 13284.76751385,
        7000.7791014 , 14126.95836045,  8990.76406842,  9587.55433892,
       10706.59306258, 15405.56315243, 19069.53796415,  7492.81157126,
       14136.17480551, 16555.59344524, 12821.97022184,  6622.84613336,
       12659.06191956, 10713.40278657, 15468.03669348, 10793.69355893,
       10117.59332154,  7706.20510181,  9268.42220227, 22721.36453608,
        8467.24962668,  9833.57057385, 16253.62821014,  7825.92830254,
       16511.96323355, 13434.6614053 ,  8451.1434941 ,  6015.57342921,
       12963.10340003, 12101.0084551 ,  4988.24342444, 12018.26566908,
       15326.77825919, 14450.69871963, 17879.99527945,  9984.41059984,
        8322.77421454, 11329.7666797 , 17133.14056882,  8152.15534632,
       19020.03354134, 10868.28066885,  8200.51903664, 14201.13503115,
       15684.48727486, 12953.88695496, 14034.02894555, 18578.48629976,
       15165.58105565, 11566.40654253, 12367.57911812, 10078.81122292,
        6829.30468381, 13480.01333738, 10477.09339945, 13849.3002266 ,
       14663.03148121, 16268.71886633, 22244.29746631, 13787.23712477,
       15582.05623177, 12408.07231546, 20955.54071638, 14146.97709322,
       18587.2123421 , 12806.06930887,  7681.4528904 ,  5688.49083607,
       16273.04190574,  8211.85701966, 13396.90540473, 17695.96218284,
       18317.50466474, 12047.18099288, 11234.0653971 , 18599.77102112,
        7286.22776471, 12131.18976748, 21947.27092946, 19847.87464668,
        7445.22346679,  9838.82912614, 19123.28546286,  7228.85284892,
       16281.27754535,  5671.89430076, 16704.5971164 , 19250.59397345,
       10203.14264619,  7730.7520936 ,  6820.21349484, 19535.10712387,
       18043.18876485, 22094.6434654 , 17908.74005456, 19394.25912881,
       11279.53196362, 13624.40878601, 12932.11183087, 13691.00014686,
       16792.10805198, 10808.78421512, 14307.03356428, 10750.22327427,
       11618.39764992,  8242.35818608, 12404.39960581, 10265.17107709,
       19121.16392491, 17902.67124549,  6878.72914311,  7246.79533633,
       16980.25896839, 22917.10076234, 16280.01155677, 13990.43340479,
       17603.43258551,  9696.19006883, 14063.91445315, 12941.73871516,
       15261.32763083, 12674.96283253, 13547.38028409,  8502.84941837,
       14664.29746979, 11953.63591916, 12524.61320927, 12855.52843909,
       11540.83345269,  9467.83113819, 13163.32259273, 11794.64021707,
       10645.87591284,  8360.4502516 ,  9144.86636485, 17883.62269652,
       11521.14519562,  6457.40585391,  6051.1732209 , 13579.59254925,
       12591.85489988, 17043.50809529, 10588.13585043, 11346.12332447,
       15441.16294412, 11053.37453444,  9947.54481956,  9116.85188301,
       12188.10895145, 13834.20957041, 11027.8014446 , 12600.50097871,
        5719.48240523, 14812.11511588,  5006.67631458, 11538.75720732,
       11421.47539859, 12049.95286058,  9322.4548841 , 19986.44117677,
       11209.59836882, 10590.78246204, 14725.79020538, 20532.9514386 ,
        9118.56298174, 13230.73483202, 17793.990223  , 21624.30615612,
       14301.15935316, 20572.30390346,  8136.82479959, 11211.67461418,
       14076.02802203, 16962.7269202 ,  8578.57726078, 17671.28993495,
       11335.64089082, 10354.3931114 , 17106.26681946,  8282.56620031,
        8287.17442285, 10941.96693682, 20125.00770686,  5811.19112412,
       11207.06639165, 12193.49275984, 11782.85712391, 11228.27114949,
       19406.81780782, 11554.49819327, 10269.36886041, 16842.79849986,
       14856.85138913, 11712.84356559, 16195.31778148,  7321.8275564 ,
        8725.6646136 ,  9722.00304921, 15810.0047232 ,  8801.91752967,
       15758.21883541, 17747.74807063, 11622.51546973,  8327.38243708,
        7422.75272036, 20735.98779159, 11599.18917393, 17159.52391544,
       12060.35533072, 14175.11683116, 12866.29605587, 18633.29456745,
       10379.51046944, 10090.14920594, 16580.71080328,  8490.29073935,
       20947.17982068, 12480.57255836, 17350.89180971,  9856.56639394,
       17682.50266187, 14719.14040841,  7277.01131964,  9667.97036738])

### Website for Datasets

In [ ]:
Kaggle.com